---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="ES|Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As an experienced professional with a background at Procter & Gamble, I specialize in understanding the root causes of invoice payment issues and automating processes using tools like Excel and Knime. My focus is on creating detailed documentation and developing innovative solutions to enhance workflow efficiency.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
    title="SAP management and administration"
    subtitle="Oct 2022 to Feb 2023 at Procter & Gamble, San Jose, Costa Rica"
  />
    <TimeLineElement
      title="Technical Degree as Executive for Service Center"
      subtitle="2020 to 2022 at CTP de Ulloa, Heredia, Costa Rica"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Accounts Payable Analyst at Procter & Gamble"
      subtitle="From Jan 2023 to May 2023 at Procter & Gamble, San Jose, Costa Rica"
    >
    I provided support for invoice processing and troubleshooting for vendors in North and Latin America, identifying the causes and common issues that affect payment timeliness. In this role, I effectively communicated with buyers, suppliers, and Order Management teams in the region. I proactively proposed improvements and documented them. Standard Operating Procedure (SOP). Meeting invoicing targets and prioritizing tasks were among my responsibilities, and I consistently adhered to best practices. Additionally, I collaborated with leaders to develop scalable processes.
    </TimeLineElement>
    <TimeLineElement
      title="Executive assistant at Procter & Gamble"
      subtitle="From Oct 2022 to Jan 2023 at Procter & Gamble, San Jose, Costa Rica"
    >
    I was responsible to use SAP to maintain material data and took detailed notes during meetings. Simultaneously, I proactively expanded my knowledge of the Planning Process. Furthermore, I played a pivotal role in creating automated reporting systems to track material data and collaborated closely with planners across Latin America.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li class="hover:underline">
      <a href="https://certs.duolingo.com/476514512ae75820b3d84c76001737de" target="_blank"> English Proficiency Certificate (Score 110)</a>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/verify/Z7AERH6QVHCS?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" target="_blank"> Introduction to Front-End Development</a>
    </li>
  </ul>


    <div
    id="skills"
    class="
    flex flex-row flex-wrap
    sm:justify-start md:justify-around lg:justify-start
    gap-5
    ">
    <div class="
      w-full md:max-w-xs
    ">
      <h2 class="
        text-3xl
        font-bold
      ">
        Technical Skills
      </h2>
      <p class="skillsList">
        <ul>
          <li>Intermediate SAP Management</li>
          <li>Basic Coupa Management</li>
          <li>Detection of Posting Issues</li>
          <li>Billing Troubleshooting</li>
          <li>Data Handling with Knime</li>
          <li>Microsoft Office 365</li>
          <li>VBA (Macros) for Automation</li>
        </ul>
      </p>
    </div>
    <div class="
      w-full md:max-w-xs
    ">
      <h2 class="
        text-3xl
        font-bold
      ">
        Soft Skills
      </h2>
      <p class="skillsList">
        <ul>
          <li>Rapid Problem Understanding</li>
          <li>Quick Learning Ability</li>
          <li>Empathy</li>
          <li>Leadership</li>
          <li>Vision</li>
          <li>Critical Thinking</li>
          <li>Passion for Sharing Knowledge</li>
        </ul>
      </p>
    </div>
  </div>
</BaseLayout>
