---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-5xl font-bold text-green-400">I'm Emanuel Sandries</div>
      <div class="text-3xl py-3 font-bold">Accounts Payable Analyst</div>
      <div class="py-2">
        <text class="text-lg">
          As an experienced professional with a background at Procter & Gamble, I specialize in understanding the root causes of invoice payment issues and automating processes using tools like Excel and Knime. My focus is on creating detailed documentation and developing innovative solutions to enhance workflow efficiency.</text
        >
      </div>
      <div class="
      flex flex-wrap
      md:justify-around
      lg:justify-start
      gap-3
      ">
        <a class="btn bg-green-400 w-full md:w-2/5 lg:w-1/4 text-neutral-900 hover:text-green-400 hover:border-green-400" href="https://www.linkedin.com/in/esandries/" target="_blank"> Let's connect!</a>
        <a href="mailto:emanuel@sandries.com" class=" w-full md:w-2/5 lg:w-1/4 btn btn-outline"> Send an Email</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects</div>
    </div>

    <HorizontalCard
    title="Report Automation"
    img="/post_img.webp"
    desc=" I used knime to automate the process of generating reports for the team, this automation assign the new data to the correct team member, track the status of each invoice and send the report by email."
    url="#"
    badge="Knime"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Excel macro for data extraction"
    img="/post_img.webp"
    desc="I develop a excel macro to extract meaningful data from a large data set, this macro was used to extract data from a 5000+ rows and 40+ columns data set. The objective was just take the data that was needed."
    url="#"
    badge="Excel"
  />


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
